
.ingredients{
	font-family: 'Pacifico', cursive;
	color:pink;
	display:block
margin-left: auto;
margin-right:auto;
}
.prepping{
	font-family: 'Pacifico', cursive;
	color:pink;
	display:block
margin-left: auto;
margin-right:auto;
}
.cooking{
	font-family: 'Pacifico', cursive;
	color:pink;
	display:block
margin-left: auto;
margin-right:auto;
}

body{
	background-color:#701207;
	color:white;
	font-family: 'Niramit', sans-serif;
	font-size:20px;
	padding-left:10px;
	padding-right:10px;

}
img {
	align-content: center;
	width: 100%;
	padding-top:9px;
	padding-bottom:9px;
	
}

.title{
	font-family: 'Pacifico', cursive;
	color:pink;
}
.section1{
	background-color:#bc571e;
	padding-top:9px;
	padding-bottom:9px;
	padding-left:9px;
}
.section2{
	background-color:#d97601;
	padding-top:9px;
	padding-bottom:9px;
	padding-left:9px;
}
.steps{
	font-family: 'Pacifico', cursive;
	color:pink;

}

.footnote a{
	color:pink;
	background-color:white;
	margin:auto;
}

