
.ingredients{
	font-family: 'Pacifico', cursive;
	color:pink;
	display:block
margin-left: auto;
margin-right:auto;
margin-top:5px;
margin-bottom:5px;
line-height:50px;
}
.prepping{
	font-family: 'Pacifico', cursive;
	color:pink;
margin-left: auto;
margin-right:auto;
margin-top: 5px;
margin-bottom: 5px;



}
.cooking{
	font-family: 'Pacifico', cursive;
	color:pink;
	display:block
margin-left: auto;
margin-right:auto;
margin-bottom: 5px;
line-height:2px;
}

body{
	background-color:#9ab7e8;
	color:#fff3e6;
	font-family: 'Niramit', sans-serif;
	font-size:20px;
	padding-left:10px;
	padding-right:10px;


}
img {
	align-content: center;
	width: 100%;
	padding-top:9px;
	padding-bottom:9px;
	

	
}
.titleimage{
		border-radius: 40px;

}
.title{
	font-family: 'Pacifico', cursive;
	color:pink;
	line-height:50px;
}
.section1{
	background-color:#bc571e;
	padding-top:9px;
	padding-bottom:9px;
	padding-left:9px;
	border-radius: 40px;
}
.section2{
	background-color:#d97601;
	padding-top:9px;
	padding-bottom:9px;
	padding-left:9px;
	border-radius: 40px;
}
.steps{
	font-family: 'Pacifico', cursive;
	color:pink;

}
.footnote a{
	color:pink;
	background-color:white;
	margin:auto;
	font-family: 'Pacifico', cursive;
	line-height:5px;
	font-size:15px;
}
.section3{
	line-height:25px;
}
 ol { counter-reset: item; }
        ol li { 
        	display: block; 
        	margin-left: auto;
margin-right:auto;
        }
ol li:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: pink;
            font-weight: bold;

        }
